#!/bin/bash

export EDITOR=vim

export HISTSIZE=10000
export HISTFILESIZE=10000
export HISTTIMEFORMAT='%Y-%m-%dT%T%z '
export HISTCONTROL=ignoredups
#export HISTIGNORE=?:??:???:exit

if [ -f /usr/share/bash-completion/bash_completion ]; then
  PS1="\[$GREEN\]\t \u@\h\[$YELLOW\] \w\[$RED\]\$(__git_ps1) \n\[$BLUE\]\$\[$NC\] "
  GIT_PS1_SHOWDIRTYSTATE=true
  GIT_PS1_SHOWUNTRACKEDFILES=true
  GIT_PS1_SHOWSTASHSTATE=true
  GIT_PS1_SHOWUPSTREAM=auto
else
  PS1="\[$GREEN\]\t \u@\h$\[$YELLOW\] \w \n\[$BLUE\]\$\[$NC\] "
fi

if have less; then
  export PAGER='less'
  unset LESSCHARSET # Fix manpages looking funky
  export LESS='--ignore-case --line-numbers --hilite-unread  -z-4 --hilite-search --LONG-PROMPT --no-init --quit-if-one-screen --quit-on-intr --RAW-CONTROL-CHARS'
  export LESS_TERMCAP_mb=$(printf "$RED")
  export LESS_TERMCAP_md=$(printf "$RED")
  export LESS_TERMCAP_me=$(printf "$NC")
  export LESS_TERMCAP_se=$(printf "$NC")
  export LESS_TERMCAP_so=$'\E[38;5;246m'
  export LESS_TERMCAP_ue=$(printf "$NC")
  export LESS_TERMCAP_us=$(printf "$GREEN")
fi

# ruby
export BUNDLE_PATH=./vendor/bundle
export PATH="`ruby -e 'puts Gem.user_dir'`/bin:$PATH"

# node
if [ -e $HOME/.npm_packages/bin ];then
    export PATH=$HOME/.npm_packages/bin:$PATH
fi

# python
if [ -e $HOME/.local/bin ];then
    export PATH=$HOME/.local/bin:$PATH
fi
if [ -e $HOME/.pythonrc.py ];then
    export PYTHONSTARTUP=~/.pythonrc.py
fi
